.maintitle {
  margin-top: 25px;
  text-align: left;
  text-align: center;
  color: darkslategrey;
  font-size: 50px;
  text-decoration: underline;
  font-weight: 1;
  background-color: mediumpurple;
}

.title {
  margin-top: 25px;
  text-align: left;
  color: #808080;
  font-size: 40px;
  text-decoration: underline;
  font-weight: 1;
}

img.intro {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img {
  width: 125px; 
}

.leftinfo {
  font-style: oblique;
  float: left;
  font-size: 17px;
  border: solid black;
  border-width: 2px;
  background-color: lightblue;
  margin-bottom: 10px;
  padding-left: 8px;
  margin-right: 25px;
}

.rightinfo {
  font-style: unset;
  float: right;
  font-size: 20px;
  border: solid rgb(21, 85, 30);
  border-width: 3px;
  background-color: rgb(238, 116, 116);
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 25px;
}

.subtitle {
  color: green;
  font-size: 25px;
  font-style: normal;
}

.important {
  color: red;
  font-weight: bold;
}

.entirepage {
  background-color: mediumaquamarine;
}

.about {
  font-style: italic;
}

img.learn {

width: 150px;
}